:root {
    font: 16px monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
}

button, input, select, textarea {
  font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="radio"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"] {
background: canvas;
    border: none;
    padding: 0.5em;

    &:hover { filter: invert(calc(1/3)); }
    &:active { filter: invert(calc(2/3)); }
    &:disabled { cursor: not-allowed; }
}

/* [type="file"]::file-selector-button {
    background: canvas;
    border: none;
    padding: 0.5em;

    &:hover { filter: invert(calc(1/3)); }
    &:active { filter: invert(calc(2/3)); }
    &:disabled { cursor: not-allowed; }
} */

label{
    &:has(input) {
        background: canvas;
        color: canvasText;
        display: inline-grid;
        place-content: center;
        position: relative;
        padding: 0.5em;
        overflow: hidden;
        
        [type="radio"], [type="checkbox"] {
            appearance: none;
            position: absolute;
            inset: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
        }
    }

    &:has([type="radio"]), &:has([type="checkbox"]) {
        &:hover { filter: invert(calc(1/3)); }
        &:active { filter: invert(calc(2/3)); }
    }

    &:has([type="radio"]:checked), &:has([type="checkbox"]:checked) {
        filter: invert(1);
    }
    
    &:has([type="radio"]:disabled), &:has([type="checkbox"]:disabled) {
        opacity: 0.5;
    }

    &:has([type="radio"]:focus-visible), &:has([type="checkbox"]:focus-visible) {
        outline: auto;
    }
}

.filled {
    background: canvasText;
    color: canvas;
}

.outline {
    background: canvas;
    border: 1px solid;
    color: canvasText;
}
