:root {
    font: 16px monospace;
}

* {
    margin: 0;
    padding: 0;
    &::before,
    &::after {
       box-sizing: border-box;
    }
}

body {
    user-select: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="radio"] {
    border: none;
    padding: 0.5em;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
    filter: invert(0.25);
}

button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active {
    filter: invert(0.75);
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
[type="radio"]:disabled {
    cursor: not-allowed;
}

label:has(input) {
    background: canvas;
    color: canvasText;
    display: inline-grid;
    place-content: center;
    position: relative;
    padding: 0.5em;
    [type="radio"] {
        appearance: none;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

label:has([type="radio"]) {
    &:hover {
        filter: invert(0.25);
    }
    &:active {
        filter: invert(0.75);
    }
}

label:has([type="radio"]:checked) {
    filter: invert(1);
}

.filled {
    background: canvasText;
    color: canvas;
}

.outline {
    background: canvas;
    border: 1px solid;
    color: canvasText;
}