:root {
    font: 16px monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

button, input, select, textarea {
    font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
label:has([type="radio"]),
label:has([type="checkbox"]) {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;

    &:hover { filter: invert(calc(1/3)); }
    &:active { filter: invert(calc(2/3)); }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    background: Canvas;
    border: none;
    padding: 0.5em;

    &:focus-visible { outline: auto; }
    &:disabled { cursor: not-allowed; }
}

label {
    &:has(input[type="radio"]), &:has(input[type="checkbox"]) {
        background: Canvas;
        color: CanvasText;
        display: inline-grid;
        padding: 0.5em;
        position: relative;

        [type="radio"], [type="checkbox"] {
            opacity: 0;
            position: absolute;
        }
    }

    &:has([type="radio"]:checked), &:has([type="checkbox"]:checked) {
        filter: invert(1);
        &:hover { filter: invert(calc(2/3)); }
        &:active { filter: invert(calc(1/3)); }
    }

    &:has([type="radio"]:disabled), &:has([type="checkbox"]:disabled) {
        opacity: 0.5;
    }

    &:has([type="radio"]:focus-visible), &:has([type="checkbox"]:focus-visible) {
        outline: auto;
    }
}

.filled {
    background: CanvasText;
    border: 1px solid;
    color: Canvas;
}

.outline {
    background: Canvas;
    border: 1px solid;
    color: CanvasText;
}
